.terminal{
    font-family: 'JetBrains Mono', monospace;
}
.terminal__header {
    position: fixed;
    background-color: aqua;
    color: black;
    top:0;
    left:0;
    width: 100%;
    height: 6vh;
    /* left: 100%; */
}
.terminal__header > p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    padding-left: 0.5rem;
    padding-top: 0;
}
.terminal__body {
    top: 6vh;
    
}

.terminal__footer {
    position: fixed;
    background-color: aqua;
    color: black;
    top:95vh;
    left:0;
    width: 100%;
    height: 6vh;
}
.terminal__footer > p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    padding-left: 0.5rem;
    padding-top: 0;
}
ol {
    list-style: none;
    padding-left: 0;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.8rem;
    line-height: 17px;
}
.comment {
    color: #247a24;
}
.keyword {
    color: #ff0000;
}
a {
    color: #00ff00;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.navigation:hover {
    background-color: #ffffff;
    cursor: pointer;
}
li:hover {
    background-color: #000000;
}
/* [data-status="empty"] {
    opacity: 0;
    transition: all 1s; */
/* } */
[data-status="visable"] {
    opacity: 1;
}